<div class="container">
  <div class="card mt-5 w-50 m-auto">
    <div class="card-body">
      <div class="row flex-column flex-lg-row">
        <div
          class="col-12 col-lg-6 d-flex justify-content-center align-items-center"
        >
          <div class="row flex-column">
            <div class="col d-flex">
              <p><i class="bi bi-telephone-fill me-1"></i></p>
              <p>081-0251276</p>
            </div>
            <div class="col d-flex">
              <i class="bi bi-geo-alt-fill me-1"></i>
              <p>Via roma 15, Roma</p>
            </div>
            <div class="col d-flex">
              <i class="bi bi-clock-fill me-1"></i>
              <p>Lun-Ven 8:00 - 21:00</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 border border-left">
          <div class="row">
            <div class="col mt-1">
              <form>
                <input
                  type="email"
                  name="email"
                  placeholder="email"
                  [(ngModel)]="newUser.email"
                  class="form-control mt-2"
                />
                <input
                  type="password"
                  name="password"
                  placeholder="password"
                  [(ngModel)]="newUser.password"
                  class="form-control mt-3"
                />
                <button (click)="register()" class="btn btn-success mt-3 mb-2">
                  Registrati
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
