<div class="container-fluid bg-cover">
  <div class="row row-cols-1 text-center">
    <div class="col mt-5">
      <h2>Benvenuto su KingPizza!</h2>
      <p>
        Scopri un mondo di film straordinari, recensioni esclusive e consigli
        personalizzati. Unisciti alla nostra community di appassionati di cinema
        e accedi a contenuti esclusivi!
      </p>
    </div>
    <div class="col mt-5">
      <div class="row flex-column flex-lg-row justify-content-center">
        <div class="col mb-5 mb-lg-0">
          <h3>Già iscritto?</h3>
          <p>
            Effettua il login per continuare la tua avventura cinematografica:
          </p>
          <button routerLink="login" class="btn btn-success">Login</button>
        </div>
        <div class="col">
          <h3>Nuovo su KingPizza?</h3>
          <p>Registrati ora per esplorare una vasta collezione di film</p>
          <button routerLink="register" class="btn btn-success">
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
