<div class="container">
  <div class="row bg-home">
    <div
      class="col-6 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="row">
        <div class="col">
          <h2 class="color">Benvenuto {{ user.nome }}</h2>
          <p class="color">Come andiamo?</p>
          <p class="color">
            <i class="bi bi-stopwatch-fill"></i> Sei pronto a guardare le nuove
            uscite?
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img
        src="../../../assets/image/donnaconpopcorn.png"
        alt="Signorina con popcorn"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center mb-2">
      <h4>Guarda i film che desideri</h4>
    </div>
    <div class="col p-0 m-0 fadeIn" *ngFor="let film of films">
      <app-card [cardFilm]="film"></app-card>
    </div>
  </div>
  <div class="row mt-3 text-center">
    <div class="col-6 p-0 mt-2 fadeInLeft">
      <div class="card">
        <div class="card-title"><h5 class="mt-4">Sempre Operativi</h5></div>
        <div class="card-body">
          <p><i class="bi bi-arrow-clockwise"></i> Zero lag</p>
          <p><i class="bi bi-battery-half"></i> Zero consumi</p>
          <p><i class="bi bi-bug-fill"></i> Zero bug</p>
        </div>
      </div>
    </div>
    <div class="col-6 bg-home mt-2 fadeInRight text-light">
      <h4 class="mt-4">Vuoi continuare la visione?</h4>
      <p>
        "Perché limitarsi a un solo film quando puoi avere accesso a cinque?
        Resta con noi e lasciati trasportare in un viaggio cinematografico senza
        fine.(in realta' finisce perchè ne ho messi solo 5)"
      </p>
    </div>
  </div>
  <div class="row row-cols-5 mt-3">
    <div class="col-12 text-center fw-bold"><p>Lista Preferiti</p></div>
    <div
      class="col-6 col-lg-2 d-flex justify-content-center fadeInRight"
      *ngFor="let preferito of filmsPrefer"
    >
      <div class="card">
        <img
          [src]="preferito.film.poster"
          class="card-img-top"
          alt="Immagine poster"
        />
        <div class="card-body">
          <h5 class="card-title">{{ preferito.film.title }}</h5>
          <p class="card-text">genre: {{ preferito.film.genre }}</p>
          <p class="card-text">Anno: {{ preferito.film.year }}</p>
          <p class="card-text">Director: {{ preferito.film.director }}</p>
          <p class="card-text">
            <button class="btn buttonColor p-1 mt-1 text-light">
              Aggiungi a preferiti
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-5 mt-2">
    <div class="col-12 text-center fw-bold"><p>Lista Utenti registrati</p></div>
    <div
      class="col d-flex justify-content-center mt-1"
      *ngFor="let user of users"
    >
      <div class="card bg-home text-light">
        <div class="card-body text-center">
          <h5>{{ user.nome }}</h5>
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
