.card {
  width: 16em;
}

h1 {
  font-size: 3.5em;
}

i {
  font-size: 2em;
}

.bg-home {
  background-color: #9d9570;
}

#ciakimage {
  transform: rotate(-10deg);
}

.imgbutton {
  width: 150px;
  cursor: pointer;
}

.bgrow {
  background-image: url("https://img.grouponcdn.com/seocms/79D2GnCvn7Jgr33Qqq7Sjv/museo-cinema-torino-600x390-600x390.jpeg");
}

#imgrotolo {
  width: 550px;
  transform: rotate(10deg);
}
