<div class="container">
  <div class="row bg-home">
    <div class="col-6">
      <div class="row flex-column justify-content-center">
        <div class="col d-flex justify-content-center">
          <h1 class="text-light mt-5">Scegli cosa guardare</h1>
        </div>
        <div class="col text-light text-center mt-5 ms-4">
          <div class="row mt-5">
            <div class="col-6">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <div>
                    <p class="card-title">
                      <i
                        class="bi bi-feather bg-home rounded-circle p-2 px-3"
                      ></i>
                    </p>
                  </div>
                  <h5 class="card-title mt-3">Avventura</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <div>
                    <p class="card-title">
                      <i class="bi bi-fire bg-home rounded-circle p-2 px-3"></i>
                    </p>
                  </div>
                  <h5 class="card-title mt-3">Azione</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <div>
                    <p class="card-title">
                      <i
                        class="bi bi-activity bg-home rounded-circle p-2 px-3"
                      ></i>
                    </p>
                  </div>
                  <h5 class="card-title mt-3">Horror</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <div>
                    <p class="card-title">
                      <i
                        class="bi bi-balloon-heart bg-home rounded-circle p-2 px-3"
                      ></i>
                    </p>
                  </div>
                  <h5 class="card-title mt-3">Romantico</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img src="../../../assets/image/donnaConTablet.png" alt="" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <img
        src="../../../assets/image/ciack-removebg-preview.png"
        class="ms-5"
        id="ciakimage"
        alt=""
      />
    </div>
    <div class="col-6">
      <div class="row flex-column">
        <div class="col">
          <button class="bg-home rounded-5 px-5 py-2 border-0">
            Iscriviti
          </button>
        </div>
        <div class="col mt-2">
          <h2>
            Non perderti tutte <br />
            le nuove uscite
          </h2>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
