<div class="container-fluid">
  <div class="row flex-column flex-lg-row bg-home">
    <div class="col-12 col-lg-6">
      <div class="row flex-column justify-content-center">
        <div class="col d-flex justify-content-center">
          <h1 class="text-light mt-5">Scegli cosa guardare</h1>
        </div>
        <div class="col text-light text-center mt-5 ms-4">
          <div class="row mt-5">
            <div class="col-6">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <div>
                    <p class="card-title">
                      <i
                        class="bi bi-feather bg-home rounded-circle p-2 px-3"
                      ></i>
                    </p>
                  </div>
                  <h5 class="card-title mt-3">Avventura</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <div>
                    <p class="card-title">
                      <i class="bi bi-fire bg-home rounded-circle p-2 px-3"></i>
                    </p>
                  </div>
                  <h5 class="card-title mt-3">Azione</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <div>
                    <p class="card-title">
                      <i
                        class="bi bi-activity bg-home rounded-circle p-2 px-3"
                      ></i>
                    </p>
                  </div>
                  <h5 class="card-title mt-3">Horror</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <div>
                    <p class="card-title">
                      <i
                        class="bi bi-balloon-heart bg-home rounded-circle p-2 px-3"
                      ></i>
                    </p>
                  </div>
                  <h5 class="card-title mt-3">Romantico</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img
        src="../../../assets/image/donnaConTablet.png"
        class="img-fluid"
        alt="Signorina con tablet"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-lg-6">
      <img
        src="../../../assets/image/ciack-removebg-preview.png"
        class="ms-5 img-fluid"
        id="ciakimage"
        alt="ciak di scena"
      />
    </div>
    <div class="col-12 col-lg-6">
      <div class="row flex-column">
        <div class="col">
          <button class="bg-home rounded-5 px-5 py-2 border-0">
            Iscriviti
          </button>
        </div>
        <div class="col mt-2">
          <div class="col">
            <h2>
              Non perderti tutte <br />
              le nuove uscite
            </h2>
          </div>
          <div class="col mt-3">
            <p>
              Sei un amante del cinema? Ti emozioni davanti a un grande
              classico, ti appassioni alle ultime uscite e ami scoprire gemme
              nascoste del cinema indipendente? Allora sei nel posto giusto!
            </p>
          </div>
          <div class="col mt-4 mb-2">
            <img
              src="../../../assets/image/01.png"
              class="imgbutton me-3"
              alt="AppStore"
            />
            <img
              src="../../../assets/image/02.png"
              class="imgbutton"
              alt="GooglePlay"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-column flex-lg-row bg-home">
    <div class="col">
      <div class="row flex-column text-center text-light mt-5">
        <div class="col mt-5"><h3>Novità e Anteprime</h3></div>
        <div class="col">
          <p>
            Rimani aggiornato sulle ultime uscite cinematografiche, trailer
            esclusivi e le notizie più fresche dal mondo del cinema. Qui
            troverai tutte le informazioni sulle prossime uscite, con dettagli
            su cast, regia e trame per prepararti al meglio alle nuove visioni.
          </p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-item-center mt-5">
      <img
        src="../../../assets/image/film1.png"
        class="img-fluid"
        id="imgrotolo"
        alt="immagine film"
      />
    </div>
  </div>
</div>
